In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [2]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=19
Period for indexes: 1954-04-19 to 2024-04-19

### Question 1: [Macro] Average growth of GDP in 2023

In [18]:
df_gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)
df_gdpc1.shape

(278, 1)

In [19]:
df_gdpc1

                GDPC1
DATE
1954-07-01   2880.482
1954-10-01   2936.852
1955-01-01   3020.746
1955-04-01   3069.910
1955-07-01   3111.379
...               ...
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

[278 rows x 1 columns]

In [20]:
df_gdpc1['gdpc1_us_yoy'] = df_gdpc1.GDPC1/df_gdpc1.GDPC1.shift(4)-1

In [21]:
df_gdpc1['YEAR']= df_gdpc1.index.year

In [24]:
round(df_gdpc1[df_gdpc1['YEAR']==2023]['gdpc1_us_yoy'].mean()*100,1)

2.5

### Question 2. [Macro] Inverse "Treasury Yield"

In [25]:
df_dgs10 = pdr.DataReader("DGS10", "fred", start=start)
df_dgs10.shape

(16252, 1)

In [27]:
df_dgs10.head(3)

            DGS10
DATE
1962-01-02   4.06
1962-01-03   4.03
1962-01-04   3.99

In [26]:
df_dgs2 = pdr.DataReader("DGS2", "fred", start=start)
df_dgs2.shape

(12492, 1)

In [28]:
df_dgs2.head(3)

            DGS2
DATE
1976-06-01  7.26
1976-06-02  7.23
1976-06-03  7.22

In [32]:
df_dgs10_dgs2 = df_dgs10.join(df_dgs2, on='DATE',how='inner')
df_dgs10_dgs2.head(3)

            DGS10  DGS2
DATE
1976-06-01   7.94  7.26
1976-06-02   7.94  7.23
1976-06-03   7.92  7.22

In [33]:
df_dgs10_dgs2['diff'] = df_dgs10_dgs2['DGS10'] - df_dgs10_dgs2['DGS2']

In [36]:
round(df_dgs10_dgs2[df_dgs10_dgs2.index.year>=2000]['diff'].min(),1)

-1.1

Question 3. [Index] Which Index is better recently?

In [59]:
df_snp500_daily = yf.download(tickers = "^GSPC,",
                     period = "max",
                     interval = "1d")
df_snp500_daily.shape

[*********************100%%**********************]  1 of 1 completed

(24190, 6)

In [61]:
df_snp500_daily['date'] = df_snp500_daily.index 
df_snp500_daily = df_snp500_daily[df_snp500_daily['date'].between(pd.to_datetime('2019-04-09'),pd.to_datetime('2024-04-09'))]

In [68]:
df_snp500_daily

,Open,High,Low,Close,Adj Close,Volume,date
Date,,,,,,,
2019-04-09,2886.580078,2886.879883,2873.330078,2878.199951,2878.199951,3032480000,2019-04-09
2019-04-10,2881.370117,2889.709961,2879.129883,2888.209961,2888.209961,3092230000,2019-04-10
2019-04-11,2891.919922,2893.419922,2881.989990,2888.320068,2888.320068,2970650000,2019-04-11
2019-04-12,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,3726050000,2019-04-12
2019-04-15,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,3114530000,2019-04-15
...,...,...,...,...,...,...,...
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000,2024-04-03
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000,2024-04-04
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000,2024-04-05
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000,2024-04-08
2024-04-09,5217.029785,5224.810059,5160.779785,5209.910156,5209.910156,3400680000,2024-04-09

In [70]:
(5209.910156 - 2878.199951) / 2878.199951

0.8101279427059513

In [62]:
df_ipc_daily = yf.download(tickers = "^MXX",
                     period = "max",
                     interval = "1d")
df_ipc_daily.shape

[*********************100%%**********************]  1 of 1 completed

(8123, 6)

In [69]:
df_ipc_daily

,Open,High,Low,Close,Adj Close,Volume,date
Date,,,,,,,
2019-04-09,45346.828125,45346.828125,44854.531250,45151.628906,45151.628906,191575000,2019-04-09
2019-04-10,45204.750000,45219.410156,44850.109375,44909.140625,44909.140625,145314900,2019-04-10
2019-04-11,44872.531250,44966.500000,44373.488281,44580.058594,44580.058594,109090000,2019-04-11
2019-04-12,44767.671875,44888.699219,44534.378906,44686.058594,44686.058594,143662400,2019-04-12
2019-04-15,44649.738281,44900.929688,44347.531250,44625.781250,44625.781250,108627100,2019-04-15
...,...,...,...,...,...,...,...
2024-04-03,57547.191406,58086.421875,57300.109375,57503.390625,57503.390625,189285300,2024-04-03
2024-04-04,57539.468750,58219.500000,57514.179688,57882.761719,57882.761719,184739700,2024-04-04
2024-04-05,57805.191406,58227.839844,57678.609375,58092.441406,58092.441406,212252300,2024-04-05
2024-04-08,58021.660156,58192.320312,57749.441406,57989.941406,57989.941406,154641800,2024-04-08
2024-04-09,58010.371094,58298.769531,57492.058594,57571.148438,57571.148438,202213300,2024-04-09

In [63]:
df_ipc_daily['date'] = df_ipc_daily.index 
df_ipc_daily = df_ipc_daily[df_ipc_daily['date'].between(pd.to_datetime('2019-04-09'),pd.to_datetime('2024-04-09'))]

In [65]:
df_snp500_daily.shape, df_ipc_daily.shape

((1259, 7), (1259, 7))

In [71]:
(57571.148438 - 45151.628906) / 45151.628906

0.27506249127480814

Question 4. [Stocks OHLCV] 52-weeks range ratio (2023) for the selected stocks

In [73]:
df_2222_SR_daily = yf.download(tickers = "2222.SR",
                     period = "max",
                     interval = "1d")
df_2222_SR_daily.shape

[*********************100%%**********************]  1 of 1 completed

(1085, 6)

In [80]:
df_2222_SR_daily = df_2222_SR_daily[df_2222_SR_daily.index.year==2023]
df_2222_SR_daily.shape

(249, 6)

In [86]:
(df_2222_SR_daily['Adj Close'].max() - df_2222_SR_daily['Adj Close'].min()) / df_2222_SR_daily['Adj Close'].max()

0.21393070882746015

In [75]:
df_BRK_B_daily = yf.download(tickers = "BRK-B",
                     period = "max",
                     interval = "1d")
df_BRK_B_daily.shape

[*********************100%%**********************]  1 of 1 completed

(7033, 6)

In [81]:
df_BRK_B_daily = df_BRK_B_daily[df_BRK_B_daily.index.year==2023]
df_BRK_B_daily.shape

(250, 6)

In [87]:
(df_BRK_B_daily['Adj Close'].max() - df_BRK_B_daily['Adj Close'].min()) / df_BRK_B_daily['Adj Close'].max()

0.20775750091289963

In [76]:
df_AAPL_daily = yf.download(tickers = "AAPL",
                     period = "max",
                     interval = "1d")
df_AAPL_daily.shape

[*********************100%%**********************]  1 of 1 completed

(10928, 6)

In [82]:
df_AAPL_daily = df_AAPL_daily[df_AAPL_daily.index.year==2023]
df_AAPL_daily.shape

(250, 6)

In [88]:
(df_AAPL_daily['Adj Close'].max() - df_AAPL_daily['Adj Close'].min()) / df_AAPL_daily['Adj Close'].max()

0.37244423080467637

In [77]:
df_GOOG_daily = yf.download(tickers = "GOOG",
                     period = "max",
                     interval = "1d")
df_GOOG_daily.shape

[*********************100%%**********************]  1 of 1 completed

(4950, 6)

In [83]:
df_GOOG_daily = df_GOOG_daily[df_GOOG_daily.index.year==2023]
df_GOOG_daily.shape

(250, 6)

In [89]:
(df_GOOG_daily['Adj Close'].max() - df_GOOG_daily['Adj Close'].min()) / df_GOOG_daily['Adj Close'].max()

0.3924520921912013

In [78]:
df_JPM_daily = yf.download(tickers = "JPM",
                     period = "max",
                     interval = "1d")
df_JPM_daily.shape

[*********************100%%**********************]  1 of 1 completed

(11116, 6)

In [84]:
df_JPM_daily = df_JPM_daily[df_JPM_daily.index.year==2023]
df_JPM_daily.shape

(250, 6)

In [90]:
(df_JPM_daily['Adj Close'].max() - df_JPM_daily['Adj Close'].min()) / df_JPM_daily['Adj Close'].max()

0.28249927707093897

Question 5. [Stocks] Dividend Yield

In [94]:
SR_2222 = yf.Ticker("2222.SR")
BRK_B = yf.Ticker("BRK-B")
AAPL = yf.Ticker("AAPL")
GOOG = yf.Ticker("GOOG")
JPM = yf.Ticker("JPM")

In [96]:
df_div_SR_2222 = SR_2222.dividends
df_div_BRK_B = BRK_B.dividends
df_AAPL = AAPL.dividends
df_GOOG = GOOG.dividends
df_JPM = JPM.dividends

In [101]:
df_div_SR_2222 = df_div_SR_2222[df_div_SR_2222.index.year==2023]

df_div_BRK_B = df_div_BRK_B[df_div_BRK_B.index.year==2023]

df_AAPL = df_AAPL[df_AAPL.index.year==2023]

df_GOOG = df_GOOG[df_GOOG.index.year==2023]

df_JPM = df_JPM[df_JPM.index.year==2023]

Date
2023-03-15 00:00:00+03:00    0.302364
2023-05-17 00:00:00+03:00    0.302400
2023-09-11 00:00:00+03:00    0.153000
2023-11-15 00:00:00+03:00    0.153000
Name: Dividends, dtype: float64

In [109]:
df_div_SR_2222.sum()/df_2222_SR_daily.iloc[-1]['Adj Close'], \
df_div_BRK_B.sum()/df_BRK_B_daily.iloc[-1]['Adj Close'] \
, df_AAPL.sum()/df_AAPL_daily.iloc[-1]['Adj Close']\
, df_GOOG.sum()/df_GOOG_daily.iloc[-1]['Adj Close']\
, df_JPM.sum()/df_JPM_daily.iloc[-1]['Adj Close']

(0.027743470474138235, 0.0, 0.004940592304162832, 0.0, 0.02409608190645897)

In [105]:
df_2222_SR_daily.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-12-25  33.000000  33.099998  32.849998  33.099998  32.927525  15869070
2023-12-26  33.049999  33.099998  32.900002  33.049999  32.877789  14598967
2023-12-27  33.099998  33.250000  33.000000  33.150002  32.977268  14815683
2023-12-28  33.150002  33.250000  32.950001  33.049999  32.877789  12720450
2023-12-31  33.049999  33.099998  32.900002  33.000000  32.828049  10776909

32.82804870605469